.collapseomatic, .colomat_trigger, .collapseall, .expandall, .setall {
	cursor: pointer;
}
.colomat-swap {
	display: none;
}
.maptastic {
	position: absolute !important;
	left: -10000px !important;
	display:block !important;
	max-width: 9999px;
}
.com_edit_link {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	width: 100%;
	text-align: right;
}
